.searchBar {

    display: flex;

    .loading {
        display: inline-block;
        text-align: center;
        padding: 0.6em 1.2em;
        margin-left: auto;
    }
}


.name {
    flex: 12;
    text-align: left;
}

.mbid {
    flex: 3;
}

.status {
    flex: 4;
    display: flex;
    justify-content: center;
}

.binding {
    flex: 8;
    display: flex;
    text-align: left;
}

.count {
    flex: 3;
    text-align: right;
}
