.wrapper{
    display: flex;
    flex: 1;
    /* Allow dropdown to overflow */
    overflow: visible;
    position: relative;
}

.bindingName {
    width: 100%;
    /* Allow dropdown to overflow */
    overflow: visible;
    position: relative;
}

.bindingButton {
    min-width: 80px;
    padding: 6px;
    margin-left: 0;
}

.approvalYes {
    background-color: #d6f5d6;
}
