window.__APP_CONFIG__ = {
  LASTFM_READ_API_HOST: "${MURAW_LASTFM_READ_API_HOST}",
  LASTFM_READ_API_PORT: "${MURAW_LASTFM_READ_API_EXTERNAL_PORT}",
  LASTFM_WRITE_API_HOST: "${MURAW_LASTFM_WRITE_API_HOST}",
  LASTFM_WRITE_API_PORT: "${MURAW_LASTFM_WRITE_API_EXTERNAL_PORT}",
  SPOTIFY_READ_API_HOST: "${MURAW_SPOTIFY_REST_API_HOST}",
  SPOTIFY_READ_API_PORT: "${MURAW_SPOTIFY_REST_API_EXTERNAL_PORT}",
  MUSIC_DATA_HOST: "${MU_DATA_APP_HOST}",
  MUSIC_DATA_PORT: "${MU_DATA_APP_EXTERNAL_PORT}",
  MUSIC_QUIZ_HOST: "${MU_QUIZ_APP_HOST}",
  MUSIC_QUIZ_PORT: "${MU_QUIZ_APP_EXTERNAL_PORT}",
  ART_DATA_HOST: "${ART_DATA_APP_HOST}",
  ART_DATA_PORT: "${ART_DATA_APP_EXTERNAL_PORT}",
  CONFIG_SERVICE_HOST: "${AU_CONFIG_APP_HOST}",
  CONFIG_SERVICE_PORT: "${AU_CONFIG_APP_EXTERNAL_PORT}",
  AUTH_SERVICE_HOST: "${AU_AUTH_APP_HOST}",
  AUTH_SERVICE_PORT: "${AU_AUTH_APP_EXTERNAL_PORT}",
  GOOGLE_CLIENT_ID: "${AUTH_GOOGLE_CLIENT_ID}"
};
